In [26]:
#!pip install yfinance

In [27]:
import pandas as pd
from datetime import date
import yfinance as yf
import warnings
warnings.filterwarnings('ignore')

In [34]:
empresas = [
'SUZB3',
'KLBN11',
'RADL3',
'CPFE3',
'PETR4',
'ELET3',
'SBSP3',
'ABEV3',
'B3SA3',
'RDOR3',
'BMOB3',
]

In [35]:
len(empresas)

11

In [36]:
match='2022-10-24'

In [37]:
df = pd.DataFrame(columns=['Empresa', 'Date', 'Cotação'])
df

Empty DataFrame
Columns: [Empresa, Date, Cotação]
Index: []

In [38]:
for codigo in empresas:
    try:
        df_aux = yf.download(codigo+'.SA', 
                              start='2022-05-01', 
                              #end='2022-10-03',
                              progress=False,
        )
        df_aux = df_aux.reset_index(level=0)
        df_aux = df_aux[df_aux['Date'] == match].copy()
        df_aux['Empresa'] = codigo
        df_aux['Cotação'] = df_aux['Close']
        df_aux = df_aux[['Empresa','Date','Cotação']].copy()
        df = pd.concat([df,df_aux])
    except:
        df = df.append({'Empresa':codigo, 'Date':'erro', 'Cotação':''}, ignore_index=True)
df

    Empresa                 Date    Cotação
122   SUZB3  2022-10-24 00:00:00  51.419998
122  KLBN11  2022-10-24 00:00:00  20.950001
122   RADL3  2022-10-24 00:00:00      24.32
122   CPFE3  2022-10-24 00:00:00      34.52
122   ELET3  2022-10-24 00:00:00       48.0
122   SBSP3  2022-10-24 00:00:00  58.459999
122   ABEV3  2022-10-24 00:00:00      15.18
122   B3SA3  2022-10-24 00:00:00      14.04
122   RDOR3  2022-10-24 00:00:00      29.41
122   BMOB3  2022-10-24 00:00:00  16.780001

In [39]:
df.to_excel('cotacao_'+match+'.xlsx', index = False, encoding = 'latin')